.table-container {
    padding: 3rem;
    overflow: hidden;
    font-size: 1.5rem;
}

/* Styling the table title */
.logout-button {
    background-color: #fe4a49;
    border: none;
    border-radius: 3px;
    color: #fff;
    outline: none;
    font-size: 1.5rem;
    padding: 1rem 2rem;
}

.logout-button:hover {
    background-color: #d11141;
}

.table-title {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 2.5rem;
    background-color: #435d7d;
    color: #fff;
    align-items: flex-end;
}

/* Styling the table option */
.table-option {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1.6rem 2.5rem;
    border: none;
}

.add-button {
    border: none;
    border-radius: 3px;
    outline: none;
    font-size: 1.5rem;
    padding: 1rem 3.3rem;
    background-color: #5cb85c;
    color: #fff;
}

.add-button:hover {
    background-color: #449d44;
}

.select-box {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    background: transparent;
    outline: none;
}

.table-content {
    border: 1px solid #718096;
}

@media (max-width: 880px) {
    .table-container,
    .table-container .add-button,
    .table-container .logout-button {
        font-size: 1.2rem;
    }

    .table-container .add-button,
    .table-container .logout-button {
        padding: 1rem 2.5rem;
    }

    .table-container h1 {
        font-size: 2rem;
    }
}

@media (max-width: 785px) {
    .table-container {
        font-size: 1rem;
    }

    .select-box {
        padding: 0.3rem 0.8rem;
    }
}

@media (max-width: 620px) {
    .table-container,
    .table-container .add-button,
    .table-container .logout-button {
        font-size: 0.7rem;
    }

    .table-container .add-button,
    .table-container .logout-button {
        padding: 0.7rem 1.5rem;
    }

    .table-container h1 {
        font-size: 1.5rem;
        margin-bottom: 0.3rem;
    }

    .table-title {
        padding: 1.3rem 1.7rem;
    }

    .select-box {
        padding: 0.2rem 0.6rem;
    }
}

@media (max-width: 470px) {
    .table-container {
        font-size: 0.5rem;
    }

    .select-box {
        padding: 0.1rem 0.4rem;
    }
}
