.correct-answer {
    color: #5cb85c;
}

.normal-answer {
    font-style: italic;
}

.icon-check {
    margin-left: 2rem;
}

.icon-caret {
    font-size: 1.7rem;
}

.icon-edit {
    margin-right: 1rem;
    color: #ffcc5c;
    cursor: pointer;
}

.icon-edit:hover {
    color: #ffa700;
}

.icon-trash {
    margin-left: 1rem;
    color: #fe4a49;
    cursor: pointer;
}

.icon-trash:hover {
    color: #d11141;
}

@media (max-width: 880px) {
    .icon-caret {
        font-size: 1.4rem;
    }
}

@media (max-width: 785px) {
    .icon-caret {
        font-size: 1.2rem;
    }
}

@media (max-width: 620px) {
    .icon-caret {
        font-size: 0.9rem;
    }

    .icon-edit {
        margin-right: 0.7rem;
    }

    .icon-trash {
        margin-left: 0.7rem;
    }
}

@media (max-width: 470px) {
    .icon-caret {
        font-size: 0.7rem;
    }

    .icon-edit {
        margin-right: 0.5rem;
    }

    .icon-trash {
        margin-left: 0.5rem;
    }
}
