.edit-modal > .modal-content {
    border: none;
}

.btn-warning {
    color: #fff;
}

.btn-warning:focus,
.btn-warning:hover,
.btn-warning:visited,
.btn-warning:active {
    outline: none;
    color: #fff;
}

.update-button:active {
    color: #fff;
}
