.modal {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.modal-content {
    border: none;
    height: 40rem;
}

.modal-header {
    border: none;
    padding: 1.6rem 1.6rem 1.6rem 1.6rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    align-items: center;
}

.modal-title > h1 {
    font-size: 2rem;
    color: #fff;
    margin: 0;
}

.close-button {
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 2rem;
    font-weight: 1000;
}

.close-button:hover {
    color: #d3d3d3;
}

.close-button:active,
.close-button:focus {
    outline: transparent;
}

.modal-body > * {
    font-size: 1.5rem;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.custom-button {
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    outline: transparent;
}

.custom-button:focus,
.custom-button:active,
.custom-button:visited {
    outline: transparent;
}
